extends layout

block content
	div.container-fluid
		div.row
			h1#main-heading.text-center Correct!
		hr.horizontal-divider
	div.container-fluid
		div.row
			h2.lg-text.text-center #{points - 1} + 1 = #{points} f's
		div.row
			h2.lg-text.text-center Come back tomorrow and guess again! 