doctype html
html
	head
		title= title
		link(href='http://fonts.googleapis.com/css?family=Roboto:900,500' rel='stylesheet' type='text/css')
		link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
		script(src='/bootstrap/js/bootstrap.min.js')
	body
		div.container-fluid
			div.row.pull-right
				ul#nav-list
					li #[a(href="/") Play!]
					- if (points)
						li #[a(href="/profile") #{username}(#{points})]
					- else 
						li #[a(href="/profile") Profile]
					li #[a(href="#") Help]	
					- if (username)
						li #[a(href="/profile/logout") Logout]
		block content
